/****************************************************************
* Reinitialise tout les padding et margin de tous les element a 0
*****************************************************************/

*{
    margin: 0;
    padding: 0;
}

body{
    /* empeche l'utilisateur de scroller hors de la page */
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container{
    width: 100%;
    min-height: 100vh;
    overflow-y:scroll;
                 /* permet l'utilisateur de scroller vers le bas de la page */

}

.main-container{
    width: 100%;
    min-height: 60vh;
    border: red solid;
}