body {
    font-family: Arial, sans-serif;

    background: url(../Img\ library/background.jpg);
    background-size: 100vw 100vh; /*largeur hauteur*/
    background-position: relative;
    background-repeat: no-repeat; /*empeche les effet mossaique*/
}


.connect {
    width: 35vw;
    height: auto;
    border: solid #000000;

    background: #ccc;
    opacity: 0.9;

    padding: 15px;
    margin: auto auto; /*positionne le form 50px en dessous du haut de l'ecran et le centre au millieu de l'ecran*/
   
 
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(155, 144, 144, 0.514);
}

.connect fieldset {

    width: 80%; /* 80 % du form*/

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    padding: 20px;

    margin: 20px auto ; /*positionne le form 50px en dessous du haut de l'ecran et le centre au millieu de l'ecran*/

    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(155, 144, 144, 0.514);
}


.connect h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #3b5998;
}

.connect label{
    border: 3px solid blue;
    border-radius: 50px; /* contour arrondi des input*/
    box-sizing: border-box;
}

/*selecteur css un peu plus specifique*/
.connect input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: auto auto;
    margin-top: 10px;
    border: 3px solid blue;
    border-radius: 50px; /* contour arrondi des input*/
    box-sizing: border-box;
    
}

.connect input[type="email"],input[type="password"]{
   width: 70%;
   border: none;
   padding: 10px; 
   margin: auto auto;
   margin-top: 10px;
   margin-bottom: 5px;
}

.connect input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
}

/* le div qui a ( :has() ) comme enfant direct ou 1er enafnt pour faire simple ( > ) un input avec le type checkbox */
.connect div:has(> input[type="checkbox"]) {
    width: fit-content;

}

.connect label {
    width: 100%;
    display: block;

    color: #333;
    font-size: 14px;
    
    text-align: center;
    margin-bottom: 5px;
    background: white;
    padding: auto auto;
}

.connect a:not(p a) {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #3b5998;
    text-decoration: none;
    margin-top: 20px;
}


.connect p:has(> a) {
   background-color: #2d4373;
   padding: 10px;
   border-radius: 5px;
   margin-top: 20px;
   margin-bottom: 20px;
}

.connect p:has(> a) a:hover {
   color: #1921b6;
}