

body{
    background: url(../Img\ library/background.jpg);

    background-size:  cover;
    background-repeat: no-repeat;
    background-position: center;
}

body section{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

header,.connect,footer{
    width: 100%;
    box-sizing: content-box; 
}

form{
    width: 35%;
    margin: 10px auto;
    min-width: 400px;
    min-height: 300px;
    border: 2px solid rgb(238, 255, 0);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    border-radius: 20px 20px; 

    opacity: 0.7; 
    background: rgb(6, 17, 134);  /** couleur a l'interieur du formulaire **/

}

fieldset{
    width: 90%;
    display: flex;
    padding: 2% 0%;
    align-items: center;
    flex-direction: column;
    border-radius: 20px 20px; 

    opacity: 0.9;
    background: rgb(1, 1, 65);  /** couleur a l'interieur du formulaire **/
}

form label{
    display: flex;
    border: 2px solid;
}

form label,input[type="submit"]{
    width: 80%;
    height: 40px;
    margin: 5px;
    border-radius: 20px 20px;

    opacity: 0.9;
    background: white;
}

form input:not([type="submit"],[type="checkbox"]){ /* tout les input sauf ceux de type subimt et checkbox */
    width: 90%;
    border: none;
    outline: none; /* suprime les ligne de surbordure le l'input lorsque qu'on y ecrit */
    background: none;
    margin-left: 10px; 
    box-sizing: content-box;   
}

form label img{
    margin: auto 0;
}

form input[type="checkbox"]{
    vertical-align: middle; /* regle le leger decalage de la checkbox */
}

 input[type="checkbox"] a{
    margin-left: 10px;
 }

 .underCheckbox{
   margin-top: 30px;
   text-align: center;
 }

h1{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 5px;
    color: white;
}

.checkbox p{
    display: inline;
}

 p{
   color: aliceblue;
   width: fit-content;
}

 a{
    color:rgb(199, 211, 71);
    text-decoration: none;
 }

 input::placeholder{
    color: rgb(0, 0,0);
 }
